body {
    margin-left: 0;
    margin-right: 0;
}
#topbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    border: 1px solid #5f5f5f;
}

#topbartitle {
    float: left;
}

#topbar li a {
    display: block;
    padding: 8px 12px;
    color: #222222;
    text-align: center;
    background-color: #dddddd;
    text-decoration: none;
}

#topbarlink {
    float: right;
}

#topbar li a.active {
    background-color: #aaaaaa;
}

#topbar li a:hover {
    background-color: #777777;
}
.w-40{
    width: 40% !important;
}