body {
  margin-left: 0;
  margin-right: 0;
}
#topbar {
  list-style-type: none;
  margin: 0;
  padding: 0.012em;
  background-color: darkblue;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  border: 1px solid #fff;
}

#topbartitle {
  float: left;
  font-size: 1.1em;
}

#topbar li a {
  display: block;
  padding: 8px 12px;
  color: #ffff;
  text-align: center;
  background-color: darkblue;
  text-decoration: none;
}

#topbarlink {
  float: right;
}

#topbar li a.active {
  background-color: darkblue;
  border-bottom: 1px solid #fff;
}

#topbar li a:hover {
  background-color: #6311aa;
  border-bottom: 1px solid #fff;
}
a:hover {
  color: darkgray;
}
